<a href="https://colab.research.google.com/github/gupta12344/Python-assignment-DS/blob/main/Assignment%202%20(basics%20of%20python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q-1

In [31]:
scores=int(input("enter the scores you gain: "))
if scores>90:
  print("A")
elif 80<scores<=90:
  print("B")
elif 60<=scores<=80:
  print("C")
else:
  print("D")

enter the scores you gain: 76
C

Q-2

In [32]:
CP=int(input("Enter the cost price in Rs. :" ))
if CP<=50000:
  print("5% Tax")
elif 50000<CP<=100000:
  print("10% Tax")
else:
  print("15% Tax")

Enter the cost price in Rs. :76589
10% Tax

Q-3

In [7]:
city=input("enter the city to get the monument of that city: ")
if city=="Delhi":
  print("Red Fort")
elif city=="Agra":
  print("Taj Mahal")
elif city=="jaipur":
  print("Jal Mahal")

enter the city to get the monument of that city: Agra
Taj Mahal

Q-4

In [17]:
n=int(input("enter the required number: "))
count=0
for i in range(n):
  if i%3==0 and i>=10:
    count+=1
print(count)

enter the required number: 20
3

Q-5 Explain Why & when to use while loop in python with example.

Why Use a While Loop in Python?

A while loop is used when you need to repeatedly execute a block of code as long as a condition is true.

It is particularly useful in cases where:

* Indeterminate Iteration: You don't know in advance how many times the loop should run.

* Dynamic Condition: The stopping condition depends on real-time changes in variables or user input.

* Infinite Loops: When creating loops that run indefinitely until interrupted or a specific condition is met.

When to Use a While Loop?

* Iterating Based on a Condition: Use a while loop when the termination condition isn't tied to a fixed range of values.
* Waiting for User Input or External Event: Itâ€™s useful for tasks like waiting for a user to input valid data.


Examples:
1. Print numbers from 1 to 5

i = 1
while i <= 5:
    print(i)
    i += 1  # Increment to avoid infinite loop


2.Keep running until the user types'exit'


    while True:
    command = input("Enter a command (type 'exit' to quit): ")
    if command.lower() == 'exit':
        print("Exiting the program.")
        break
    print("You entered:", command)


3. Simulate savings reaching a target

  
    savings = 0
    target = 1000
    while savings < target:
    deposit = int(input("Enter deposit amount: "))
    savings += deposit
    print("Current savings:", savings)
    print("Congratulations! You've reached your target.")

Q-6 Use nested while loop to print 3 different patterns.

In [20]:
n=4
row=1
while row<=n:
  col=1
  while col<=n:
    print("*",end=" ")
    col+=1
  print()
  row+=1

* * * *
* * * *
* * * *
* * * *

In [22]:
n=4
row=1
while row<=n:
   col=1
   while col<row+1:
     print("*",end=" ")
     col+=1
   print()
   row+=1

*
* *
* * *
* * * *

In [27]:
n=4
row=4
while row>0:
  col=1
  while col<=row:
    print("*",end=" ")
    col+=1
  print()
  row-=1

* * * *
* * *
* *
*

Q-7 reverse a while loop to display numbers from 10 to 1.

In [30]:
n=10
while n>0:
  print(n,end=" ")
  print()
  n-=1

10
9
8
7
6
5
4
3
2
1